<a href="https://colab.research.google.com/github/edleafvirtual/sales_predictions2023/blob/main/sales_prediction2023.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Sales Prediction
- Eduardo Galindez.
- Data Scientist from Coding Dojo.

**Data for sales prediction.**

Source: https://datahack.analyticsvidhya.com/contest/practice-problem-big-mart-sales-iii/

In [1]:
import pandas as pd
df = pd.read_csv('https://docs.google.com/spreadsheets/d/e/2PACX-1vQ4Zu6xL-qFpsuyhrkLDnQK07Y3-JRmE8hQtNQp7JJ-3TBq3FI4m0Cjk9i87aReHTPu7Xr02qS6iY0y/pub?gid=257468944&single=true&output=csv')
df.head()

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,FDA15,9.30,Low Fat,0.016047,Dairy,249.8092,OUT049,1999,Medium,Tier 1,Supermarket Type1,3735.1380
1,DRC01,5.92,Regular,0.019278,Soft Drinks,48.2692,OUT018,2009,Medium,Tier 3,Supermarket Type2,443.4228
2,FDN15,17.50,Low Fat,0.016760,Meat,141.6180,OUT049,1999,Medium,Tier 1,Supermarket Type1,2097.2700
3,FDX07,19.20,Regular,0.000000,Fruits and Vegetables,182.0950,OUT010,1998,NaN,Tier 3,Grocery Store,732.3800
4,NCD19,8.93,Low Fat,0.000000,Household,53.8614,OUT013,1987,High,Tier 3,Supermarket Type1,994.7052

**Exploring the data**

In [2]:
# In general we have.
df.describe()

,Item_Weight,Item_Visibility,Item_MRP,Outlet_Establishment_Year,Item_Outlet_Sales
count,7060.000000,8523.000000,8523.000000,8523.000000,8523.000000
mean,12.857645,0.066132,140.992782,1997.831867,2181.288914
std,4.643456,0.051598,62.275067,8.371760,1706.499616
min,4.555000,0.000000,31.290000,1985.000000,33.290000
25%,8.773750,0.026989,93.826500,1987.000000,834.247400
50%,12.600000,0.053931,143.012800,1999.000000,1794.331000
75%,16.850000,0.094585,185.643700,2004.000000,3101.296400
max,21.350000,0.328391,266.888400,2009.000000,13086.964800

In [3]:
df.describe(include = "all").round(2)

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
count,8523,7060.00,8523,8523.00,8523,8523.00,8523,8523.00,6113,8523,8523,8523.00
unique,1559,NaN,5,NaN,16,NaN,10,NaN,3,3,4,NaN
top,FDW13,NaN,Low Fat,NaN,Fruits and Vegetables,NaN,OUT027,NaN,Medium,Tier 3,Supermarket Type1,NaN
freq,10,NaN,5089,NaN,1232,NaN,935,NaN,2793,3350,5577,NaN
mean,NaN,12.86,NaN,0.07,NaN,140.99,NaN,1997.83,NaN,NaN,NaN,2181.29
std,NaN,4.64,NaN,0.05,NaN,62.28,NaN,8.37,NaN,NaN,NaN,1706.50
min,NaN,4.56,NaN,0.00,NaN,31.29,NaN,1985.00,NaN,NaN,NaN,33.29
25%,NaN,8.77,NaN,0.03,NaN,93.83,NaN,1987.00,NaN,NaN,NaN,834.25
50%,NaN,12.60,NaN,0.05,NaN,143.01,NaN,1999.00,NaN,NaN,NaN,1794.33
75%,NaN,16.85,NaN,0.09,NaN,185.64,NaN,2004.00,NaN,NaN,NaN,3101.30
max,NaN,21.35,NaN,0.33,NaN,266.89,NaN,2009.00,NaN,NaN,NaN,13086.96

![1.png]()

In [4]:
# We have 12 columns and 8523 entries.
df.shape

(8523, 12)

In [5]:
# Looking for missing values. Identifying dtypes.
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8523 entries, 0 to 8522
Data columns (total 12 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Item_Identifier            8523 non-null   object
 1   Item_Weight                7060 non-null   float64
 2   Item_Fat_Content           8523 non-null   object
 3   Item_Visibility            8523 non-null   float64
 4   Item_Type                  8523 non-null   object
 5   Item_MRP                   8523 non-null   float64
 6   Outlet_Identifier          8523 non-null   object
 7   Outlet_Establishment_Year  8523 non-null   int64
 8   Outlet_Size                6113 non-null   object
 9   Outlet_Location_Type       8523 non-null   object
 10  Outlet_Type                8523 non-null   object
 11  Item_Outlet_Sales          8523 non-null   float64
dtypes: float64(4), int64(1), object(7)
memory usage: 799.2+ KB

In [6]:
# We didn't find dupicate values
bool_series = df.duplicated()
bool_series.sum()

0

In [7]:
# Lets see how many values are missing from 'Item_Weight' and 'Outlet_Size'
df.isna().sum()

Item_Identifier                 0
Item_Weight                  1463
Item_Fat_Content                0
Item_Visibility                 0
Item_Type                       0
Item_MRP                        0
Outlet_Identifier               0
Outlet_Establishment_Year       0
Outlet_Size                  2410
Outlet_Location_Type            0
Outlet_Type                     0
Item_Outlet_Sales               0
dtype: int64

In [8]:
# Calculating the impact of missing data.

# Item Weight
miss_weight_data = 1463 / 8523

print(f"The missing data from 'Item_Weight' represents the", (miss_weight_data * 100), "%.")

# Item Size
miss_size_data = 2410 / 8523 * 100
print(f"The {miss_size_data}% of the data is missing from column Outlet_Size.")

The missing data from 'Item_Weight' represents the 17.165317376510618 %.
The 28.27642848762173% of the data is missing from column Outlet_Size.

In [9]:
# My job is to predict how the sales will be in 2023, so the weight of the product is not a variable that will influence the sales.
# For that reason, we decided to drop the rows with this issue.

df.dropna(subset = ["Item_Weight"],inplace = True)
df.isna().sum()

Item_Identifier                 0
Item_Weight                     0
Item_Fat_Content                0
Item_Visibility                 0
Item_Type                       0
Item_MRP                        0
Outlet_Identifier               0
Outlet_Establishment_Year       0
Outlet_Size                  2410
Outlet_Location_Type            0
Outlet_Type                     0
Item_Outlet_Sales               0
dtype: int64

In [10]:
# Checking the general info of the dataframe.
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 7060 entries, 0 to 8522
Data columns (total 12 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Item_Identifier            7060 non-null   object
 1   Item_Weight                7060 non-null   float64
 2   Item_Fat_Content           7060 non-null   object
 3   Item_Visibility            7060 non-null   float64
 4   Item_Type                  7060 non-null   object
 5   Item_MRP                   7060 non-null   float64
 6   Outlet_Identifier          7060 non-null   object
 7   Outlet_Establishment_Year  7060 non-null   int64
 8   Outlet_Size                4650 non-null   object
 9   Outlet_Location_Type       7060 non-null   object
 10  Outlet_Type                7060 non-null   object
 11  Item_Outlet_Sales          7060 non-null   float64
dtypes: float64(4), int64(1), object(7)
memory usage: 717.0+ KB

In [11]:
# About the Outlet Size, it's a variable that could influence the sales. In this case we decided to fill missing data with the average size of the stores (Medium).

# First let's have a look about the values inside the column 'Outlet_Size'
df["Outlet_Size"].value_counts()

Small     1860
Medium    1858
High       932
Name: Outlet_Size, dtype: int64

In [13]:
# Now that we fill empty values with 'Medium' category.
df['Outlet_Size'].fillna('Medium', inplace=True)
df["Outlet_Size"].value_counts()

Medium    4268
Small     1860
High       932
Name: Outlet_Size, dtype: int64

In [16]:
# Checking the general info of the dataframe.
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 7060 entries, 0 to 8522
Data columns (total 12 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Item_Identifier            7060 non-null   object
 1   Item_Weight                7060 non-null   float64
 2   Item_Fat_Content           7060 non-null   object
 3   Item_Visibility            7060 non-null   float64
 4   Item_Type                  7060 non-null   object
 5   Item_MRP                   7060 non-null   float64
 6   Outlet_Identifier          7060 non-null   object
 7   Outlet_Establishment_Year  7060 non-null   int64
 8   Outlet_Size                7060 non-null   object
 9   Outlet_Location_Type       7060 non-null   object
 10  Outlet_Type                7060 non-null   object
 11  Item_Outlet_Sales          7060 non-null   float64
dtypes: float64(4), int64(1), object(7)
memory usage: 717.0+ KB

In [18]:
# Now lets have a quick look about any inconsistent category in our dataframe.
df.value_counts()

Item_Identifier  Item_Weight  Item_Fat_Content  Item_Visibility  Item_Type     Item_MRP  Outlet_Identifier  Outlet_Establishment_Year  Outlet_Size  Outlet_Location_Type  Outlet_Type        Item_Outlet_Sales
DRA12            11.600       LF                0.000000         Soft Drinks   141.9154  OUT035             2004                       Small        Tier 2                Supermarket Type1  992.7078             1
FDV25            5.905        Low Fat           0.045838         Canned        222.5456  OUT018             2009                       Medium       Tier 3                Supermarket Type2  3315.6840            1
FDV28            16.100       Regular           0.159595         Frozen Foods  32.8558   OUT013             1987                       High         Tier 3                Supermarket Type1  339.5580             1
                                                0.000000         Frozen Foods  35.1558   OUT017             2007                       Medium       Tier 2                Supermarket Type1  339.5580             1
FDV27            7.970        Regular           0.040216         Meat          90.4514   OUT017             2007                       Medium       Tier 2                Supermarket Type1  1328.2710            1
                                                                                                                                                                                                                 ..
FDJ15            11.350       Regular           0.023318         Dairy         182.4608  OUT035             2004                       Small        Tier 2                Supermarket Type1  7534.1928            1
FDJ14            10.300       Regular           0.050354         Canned        78.6960   OUT017             2007                       Medium       Tier 2                Supermarket Type1  1757.7120            1
                                                0.050070         Canned        77.8960   OUT046             1997                       Small        Tier 1                Supermarket Type1  1278.3360            1
                                                0.050029         Canned        80.0960   OUT013             1987                       High         Tier 3                Supermarket Type1  239.6880             1
NCZ54            14.650       Low Fat           0.083699         Household     163.4552  OUT018             2009                       Medium       Tier 3                Supermarket Type2  2599.2832            1
Length: 7060, dtype: int64

In [19]:
# We identified some issues in 'Item_Fat_Content' column. Lets have a closer look.
df["Item_Fat_Content"].value_counts()

Low Fat    4222
Regular    2388
LF          260
reg         106
low fat      84
Name: Item_Fat_Content, dtype: int64

In [28]:
# In order to fix this inconsistency, we are going to leave only three categories: Low Fat, and Regular.
repl_low1 = {"LF":"Low Fat"}
df["Item_Fat_Content"] = df["Item_Fat_Content"].replace(repl_low1)

repl_low2 = {"low fat":"Low Fat"}
df["Item_Fat_Content"] = df["Item_Fat_Content"].replace(repl_low2)

repl_reg = {"reg":"Regular"}
df["Item_Fat_Content"] = df["Item_Fat_Content"].replace(repl_reg)

df["Item_Fat_Content"].value_counts()

Low Fat    4566
Regular    2494
Name: Item_Fat_Content, dtype: int64

In [29]:
df

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,FDA15,9.300,Low Fat,0.016047,Dairy,249.8092,OUT049,1999,Medium,Tier 1,Supermarket Type1,3735.1380
1,DRC01,5.920,Regular,0.019278,Soft Drinks,48.2692,OUT018,2009,Medium,Tier 3,Supermarket Type2,443.4228
2,FDN15,17.500,Low Fat,0.016760,Meat,141.6180,OUT049,1999,Medium,Tier 1,Supermarket Type1,2097.2700
3,FDX07,19.200,Regular,0.000000,Fruits and Vegetables,182.0950,OUT010,1998,Medium,Tier 3,Grocery Store,732.3800
4,NCD19,8.930,Low Fat,0.000000,Household,53.8614,OUT013,1987,High,Tier 3,Supermarket Type1,994.7052
...,...,...,...,...,...,...,...,...,...,...,...,...
8518,FDF22,6.865,Low Fat,0.056783,Snack Foods,214.5218,OUT013,1987,High,Tier 3,Supermarket Type1,2778.3834
8519,FDS36,8.380,Regular,0.046982,Baking Goods,108.1570,OUT045,2002,Medium,Tier 2,Supermarket Type1,549.2850
8520,NCJ29,10.600,Low Fat,0.035186,Health and Hygiene,85.1224,OUT035,2004,Small,Tier 2,Supermarket Type1,1193.1136
8521,FDN46,7.210,Regular,0.145221,Snack Foods,103.1332,OUT018,2009,Medium,Tier 3,Supermarket Type2,1845.5976
8522,DRG01,14.800,Low Fat,0.044878,Soft Drinks,75.4670,OUT046,1997,Small,Tier 1,Supermarket Type1,765.6700

In [ ]:
help(df.to_csv);